<div class="section navigation-section">
    <!--<p >Просмотр события {{ action_id }} </p>-->

    <div id="action_form">
        <div class="text-input-container">
            <label>Описание</label> <br>
            <input type="text" class="text-input border-green-500" placeholder="" id="comment"/>
        </div> <br><br>

        <div class="text-input-container">
            <label>Дата</label> <br>
            <input type="date" class="text-input border-green-500" placeholder="date" id="day"/>
        </div> <br><br>

        <div class="text-input-container">
            <label>Время</label> <br>
            <input type="time" class="text-input border-green-500" placeholder="time" id="time"/>
        </div>

        <!--message-->
        <div class="toast" id="message" style="display: none;">
            <label class="toast-label" id="messageText"></label>
            <button class="button flat color-yellow-500" onclick="this.parentElement.style.display='none'">OK</button>
        </div>

    </div>

    <!--fab-->
    <button class="fab bg-green-500 color-white large custom-fab-center"><i class="icon-save"
                                                                            ng-click="create_action()"></i></button>

</div>


